entrypoint = "index.html"
modules = ["web", "nodejs-20", "python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0", "javascript_anthropic_ai_integrations:2.0.0", "replitmail:1.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-678f5e65-6432-4209-a8cb-0432d47880dd"

[userenv]

[userenv.shared]
GOOGLE_SEARCH_CX = "c288ef783636c4adc"
RESEND_FROM_EMAIL = "Suretrade <alerts@suretrade.co.za>"
CLOUDFLARE_ACCOUNT_ID = "c2f9ef7fe4085804d71adfd0dec68a76"
INFOGENIE_API_KEY = "1d988286a9fd4220552cb084e5f494bc743c1ad2660b27dd9143f64a29be4734"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
